<section class="content-header">
  <h1>
    Offer Generator
  </h1>
</section>
<div class="row" style="margin-left: 0;margin-right: 0;background-color: rgba(105, 105, 105, 0.07);">
  <div class="col-md-12 col-sm-12">
    <div class="box-body">
      <div class="form-group">
        <label for="exampleInputUnits"># Of Units</label>
        <input type="email" class="form-control" placeholder="# Of Units">
      </div>
      <div class="form-group">
        <label for="exampleInputNOI">NOI</label>
        <input type="password" class="form-control" placeholder="NOI">
      </div>


      <div class="form-group">
        <label for="exampleInputValue5">Market Value(5 +unit)</label>
        <input type="password" class="form-control" placeholder="Market Value(5 +unit)">
      </div>

      <div class="form-group">
        <label for="exampleInputValue2-4">Market Value(2-4 +unit)</label>
        <input type="password" class="form-control" placeholder="Market Value(2-4 +unit)">
      </div>

      <div class="form-group">
        <label for="exampleInputMarketValue">Market Value</label>
        <input type="password" class="form-control" placeholder="Market Value">
      </div>
    </div>
  </div>
</div>


<div class="row" style="padding-top: 18px;margin-left: 0; margin-right:0;background: #e6e8fa">
  <div class="col-md-6 col-sm-12 ">
    <div class="box-body">
      <div class="form-group">
        <label for="exampleInputByer">Buyer Name</label>
        <input type="email" class="form-control" placeholder="Buyer Name">
      </div>


      <div class="form-group">
        <label for="exampleInputByer">Title </label>
        <input type="email" class="form-control" placeholder="Title">
      </div>

      <div class="form-group">
        <label for="exampleInputByer">Company Name</label>
        <input type="email" class="form-control" placeholder="Company Name">
      </div>

      <div class="form-group">
        <label for="exampleInputByer">Street Address</label>
        <input type="email" class="form-control" placeholder="Street Address">
      </div>

      <div class="form-group">
        <label for="exampleInputByer">City,Street,Zip</label>
        <input type="email" class="form-control" placeholder="City,Street,Zip">
      </div>

      <div class="form-group">
        <label for="exampleInputByer">Phone</label>
        <input type="email" class="form-control" placeholder="Phone">
      </div>

      <div class="form-group">
        <label for="exampleInputByer">Fax</label>
        <input type="email" class="form-control" placeholder="Fax">
      </div>

      <div class="form-group">
        <label for="exampleInputByer">Email</label>
        <input type="email" class="form-control" placeholder="Email">
      </div>

    </div>
  </div>
  <div class="col-md-6 col-sm-12 ">
    <div class="box-body">

      <div class="form-group">
        <label for="exampleInputByer">Intrest</label>
        <input type="email" class="form-control" placeholder="Intrest">
      </div>


      <div class="form-group">
        <label for="exampleInputByer">Amortization Term (mos)	 </label>
        <input type="email" class="form-control" placeholder="Amortization Term (mos)">
      </div>

      <div class="form-group">
        <label for="exampleInputByer">Balloon Term (mos)	</label>
        <input type="email" class="form-control" placeholder="Balloon Term (mos)">
      </div>

      <div class="form-group">
        <label for="exampleInputByer">Option 3 Cap Ratio</label>
        <input type="email" class="form-control" placeholder="Option 3 Cap Ratio">
      </div>

      <div class="form-group">
        <label for="exampleInputByer">Option 1 Premium</label>
        <input type="email" class="form-control" placeholder="Option 1 Premium">
      </div>

      <div class="form-group">
        <label for="exampleInputByer">Negotiation Factor	</label>
        <input type="email" class="form-control" placeholder="Negotiation Factor">
      </div>


    </div>

  </div>
</div>


<div class="row" style="padding-top: 18px;margin-left: 0; margin-right:0;background-color: rgba(105, 105, 105, 0.07);">
  <div class="col-md-6 col-sm-12">
    <div class="box-body">
      <div class="form-group">
        <label for="exampleInputByer">Buyer Rep Name</label>
        <input type="email" class="form-control" placeholder="Buyer Rep Name">
      </div>


      <div class="form-group">
        <label for="exampleInputByer">Email	 </label>
        <input type="email" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="exampleInputByer">Phone	</label>
        <input type="email" class="form-control" placeholder="Phone">
      </div>
      <div class="form-group">
        <label for="exampleInputByer">Fax</label>
        <input type="email" class="form-control" placeholder="Fax">
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="box-body">
      <div class="form-group">
        <label for="exampleInputByer">Option 1 Down Payment (%) </label>
        <input type="email" class="form-control" placeholder="Option 1 Down Payment (%)">
      </div>

      <div class="form-group">
        <label for="exampleInputByer">Option 2 Down Payment (%)	</label>
        <input type="email" class="form-control" placeholder="Option 2 Down Payment (%)">
      </div>

      <div class="form-group">
        <label for="exampleInputByer">Option 3 Down Payment (%)</label>
        <input type="email" class="form-control" placeholder="Option 3 Down Payment (%)">
      </div>
    </div>
  </div>
</div>



<div class="row" style="margin-left: 0; margin-right:0;background: #e6e8fa">
  <div class="col-md-12 col-sm-12">
    <h3>Option 1 - Seller Financing </h3>
  </div>


  <div class="col-sm-12">
    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">




      <thead>
        <tr role="row">

          <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"></th>
          <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Purchase Cap Rate
          </th>
          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Maximum Allowable Offer</th>
          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Initial Offer Price</th>
          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Down Payment</th>
          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Down Payment</th>
          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">1st Mortgage Balance</th>
          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Monthly Payment</th>
          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Balloon Balance</th>
          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Total Over Balloon Term</th>
        </tr>
      </thead>
      <tbody>

        <tr role="row" class="odd">
          <td class="sorting_1">Option 1 - Seller Financing</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>

        </tr>
        <tr role="row" class="even">
          <td class="sorting_1">Option 1 - Seller Financing</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
        </tr>
        <tr role="row" class="odd">
          <td class="sorting_1">Option 3 - Bank Financing</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
        </tr>
      </tbody>

    </table>
  </div>

</div>