<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Apartment Analysis Form
      <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Forms</a></li>
      <li class="active">Advanced Elements</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- SELECT2 EXAMPLE -->

    <!-- /.box -->

    <div class="row">
      <div class="col-md-12">

        <div class="box box-danger">
          <div class="box-header">
            <h3 class="box-title">To see formulas or edit: Review>Unprotect Worksheet</h3>
          </div>
          <div class="box-body">
            <!-- Date dd/mm/yyyy -->
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Property Address:</label>

                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                  <!-- /.input group -->
                </div>

              </div>

              <!-- /.form group -->

              <!-- Date mm/dd/yyyy -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Offer Price:</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                  <!-- /.input group -->
                </div>
              </div>


              <div class="col-sm-3">
                <div class="form-group">
                  <label>Offer + Rehab:</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                  <!-- /.input group -->
                </div>
              </div>
              <!-- /.form group -->
            </div>






            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Prop Class A/B/C:</label>

                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                  <!-- /.input group -->
                </div>

              </div>



              <div class="col-sm-3">
                <div class="form-group">
                  <label>Area class:</label>

                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                  <!-- /.input group -->
                </div>

              </div>

              <!-- /.form group -->

              <!-- Date mm/dd/yyyy -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Asking Price:</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                  <!-- /.input group -->
                </div>
              </div>


              <div class="col-sm-3">
                <div class="form-group">
                  <label>Ask + Rehab:</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                  <!-- /.input group -->
                </div>
              </div>
              <!-- /.form group -->
            </div>





            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Owner/contact:</label>

                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                  <!-- /.input group -->
                </div>

              </div>



              <div class="col-sm-3">
                <div class="form-group">
                  <label># Units:</label>

                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                  <!-- /.input group -->
                </div>

              </div>

              <!-- /.form group -->

              <!-- Date mm/dd/yyyy -->




              <!-- /.form group -->
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>US phone mask:</label>

                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask>
                  </div>
                  <!-- /.input group -->
                </div>

              </div>



              <div class="col-sm-3">
                <div class="form-group">
                  <label>$/Unit offer:</label>

                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                  <!-- /.input group -->
                </div>

              </div>

              <!-- /.form group -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Offer + Rehab:</label>

                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                  <!-- /.input group -->
                </div>

              </div>
              <!-- Date mm/dd/yyyy -->




              <!-- /.form group -->
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Seller Email:</label>

                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                  </div>
                  <!-- /.input group -->
                </div>

              </div>



              <div class="col-sm-3">
                <div class="form-group">
                  <label>$/Unit asking:</label>

                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                  <!-- /.input group -->
                </div>

              </div>

              <!-- /.form group -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Ask + Rehab:</label>

                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                  <!-- /.input group -->
                </div>

              </div>
              <!-- Date mm/dd/yyyy -->




              <!-- /.form group -->
            </div>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th width="20%" style="width: 10px">Old Mortgage</th>
                  <th width="10%">Mtge? Y/N/?</th>
                  <th width="10">Balance
                  </th>
                  <th width="10%" style="width: 40px">Int Rate
                  </th>
                  <th width="10%" style="width: 40px">Payment
                  </th>
                  <th width="10%" style="width: 40px">Remain Mos
                  </th>
                  <th width="10%" style="width: 40px">Balloon? Y/N
                  </th>
                  <th width="10%" style="width: 40px">Balloon Mos
                  </th>
                  <th width="10%" style="width: 40px">Assum? Y/N
                  </th>
                </tr>
                <tr>
                  <td>Current 1st</td>
                  <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                  <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                  <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                  <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                  <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                  <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                  <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                  <td><input type="text" class="form-control" id="inputWarning2" placeholder="Y"></td>
                </tr>
                <tr>
                  <td>Current 2nd </td>
                  <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                  <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                  <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                  <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                  <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                  <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                  <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                  <td><input type="text" class="form-control" id="inputWarning2" placeholder="Y"></td>
                </tr>
              </tbody>
            </table>



          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Unit Mix
                </h3>


              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">

                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Offer + Rehab:</label>

                    <div class="input-group">

                      <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                    <!-- /.input group -->
                  </div>

                </div>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th width="20%" style="width: 10px">No of Units
                      </th>
                      <th width="20%">Beds
                      </th>
                      <th width="20%">Baths</th>
                      <th width="20%" style="width: 40px">Curr Rent/mo
                      </th>
                      <th width="20%" style="width: 40px">TTL Mo Rent
                      </th>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="1"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="$550.00"></td>
                      <td>$550.00</td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="1"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="$550.00"></td>
                      <td>$550.00</td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="1"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="$550.00"></td>
                      <td>$550.00</td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="1"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="$550.00"></td>
                      <td>$550.00</td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="1"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="$550.00"></td>
                      <td>$550.00</td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="1"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="$550.00"></td>
                      <td>$550.00</td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="1"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="$550.00"></td>
                      <td>$550.00</td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="1"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="$550.00"></td>
                      <td>$550.00</td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="1"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="$550.00"></td>
                      <td>$550.00</td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="1"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="$550.00"></td>
                      <td>$550.00</td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="4"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="1"></td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder="$550.00"></td>
                      <td>$550.00</td>
                    </tr>

                    <tr>
                      <th width="20%" style="width: 10px">Total Units
                      </th>
                      <th width="20%">5
                      </th>
                      <th width="20%">&nbsp;</th>
                      <th width="20%" style="width: 40px">Total Rent</th>
                      <th width="20%" style="width: 40px">$ 25000</th>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->













            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Total Income Analysis</h3>


              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td width="80%">Total Monthly Income ($/mo)</td>
                      <td width="20%">$550.00</td>
                    </tr>
                    <tr>
                      <td>Total Gross Yearly Income (GYI)</td>
                      <td>$550.00</td>
                    </tr>
                    <tr>
                      <td>Other Income</td>
                      <td><input type="text" class="form-control" id="inputWarning" placeholder="$550.00"></td>
                    </tr>
                    <tr>
                      <td>Total Gross Scheduled Income (GSI)</td>
                      <td>$550.00</td>
                    </tr>
                    <tr>
                      <td>
                        <table class="table table-bordered" style="margin: 0px;">
                          <tr>
                            <td width="40%">Vacancy % ***</td>
                            <td>
                              <input type="text" class="form-control" id="inputWarning" placeholder="10.00%">
                            </td>
                            <td><input type="text" class="form-control" id="inputWarning" placeholder="1...."></td>


                          </tr>
                        </table>
                      </td>
                      <td>$550.00</td>
                    </tr>
                    <tr>
                      <td>
                        <table class="table table-bordered" style="margin: 0px;">
                          <tr>
                            <td width="30%">Op Expenses
                            </td>
                            <td><input type="text" class="form-control" id="inputWarning" placeholder="45.00%">

                            </td>
                            <td width="40%" style="color:#900;"> Using Manual OE/GSI
                            </td>


                          </tr>
                        </table>
                      </td>
                      <td>$550.00</td>
                    </tr>
                    <tr>
                      <td>Net Operating Income
                      </td>
                      <td>$550.00</td>
                    </tr>
                    <tr>
                      <td>Cap Rate Asking Price
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>Cap Rate Offer Price
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>Cap Rate on Offer + Rehab
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!-- /.box-body -->
            </div>

            <!-- /.box -->
          </div>




















          <div class="col-md-6">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Annual Operating Expense Analysis % of
                </h3>


              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">

                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th width="20%" style="width: 10px">All Bills Paid? Y/N
                      </th>
                      <th width="20%"><input type="text" class="form-control" id="inputWarning2" placeholder="Y"></th>
                      <th width="20%">GSI
                      </th>
                    </tr>
                    <tr>
                      <td>Taxes Due next year</td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>Insurance</td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>Water &amp; Sewer</td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>Flood Insurance</td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>Trash Removal</td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>Electric </td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>Gas</td>
                      <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                      <td>&nbsp;</td>
                    </tr>

                    <tr>
                      <tr>
                        <td>Oil</td>
                        <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                        <td>&nbsp;</td>
                      </tr>

                      <tr>
                        <tr>
                          <td>Legal &amp; Acct, license &amp; permit</td>
                          <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                          <td>&nbsp;</td>
                        </tr>

                        <tr>
                          <tr>
                            <td>Management Fees</td>
                            <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                            <td>&nbsp;</td>
                          </tr>

                          <tr>
                            <tr>
                              <td>Onsite Payroll &amp; benefits</td>
                              <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                              <td>&nbsp;</td>
                            </tr>

                            <tr>
                              <tr>
                                <td>Repairs &amp; Maintenance</td>
                                <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                                <td>&nbsp;</td>
                              </tr>

                              <tr>
                                <tr>
                                  <td>Supplies &amp; Miscellaneous</td>
                                  <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                                  <td>&nbsp;</td>
                                </tr>

                                <tr>
                                  <tr>
                                    <td>Pest Control</td>
                                    <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                                    <td>&nbsp;</td>
                                  </tr>

                                  <tr>
                                    <tr>
                                      <td>Telephone</td>
                                      <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                                      <td>1.31% </td>
                                    </tr>

                                    <tr>
                                      <tr>
                                        <td>Advertising/marketing</td>
                                        <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                                        <td>&nbsp;</td>
                                      </tr>

                                      <tr>
                                        <tr>
                                          <td>Pool Maintenance/landscaping</td>
                                          <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                                          <td>&nbsp;</td>
                                        </tr>

                                        <tr>
                                          <tr>
                                            <td>General Admin</td>
                                            <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                                            <td>&nbsp;</td>
                                          </tr>

                                          <tr>
                                            <tr>
                                              <td>Other Contract Services</td>
                                              <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                                              <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                              <td>Security</td>
                                              <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                                              <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                              <td>Other</td>
                                              <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- "></td>
                                              <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                              <td>Other</td>
                                              <td><input type="text" class="form-control" id="inputWarning2" placeholder=" $- 20%"></td>
                                              <td>65.36% </td>
                                            </tr>

                                            <tr>
                                              <th width="20%" style="width: 10px">Total Op Expenses (OE)</th>
                                              <th width="20%"> $20,400
                                              </th>
                                              <th width="20%">&nbsp;</th>
                                            </tr>
                                            <tr>
                                              <th>Total Op Expenses / GSI</th>
                                              <th>66.67%
                                              </th>
                                              <th>&nbsp;</th>
                                            </tr>
                  </tbody>
                </table>

              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->


            <!-- /.box -->
          </div>





          <div class="col-md-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">New Mortgage - Debt Service Analysis</h3>


              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">

                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td width="20%">Down Payment</td>
                      <td width="10%"> $20,000
                      </td>
                      <td width="30%">
                        <table cellspacing="0" cellpadding="0">
                          <td width="80%">Closing Costs</td>
                          <td width="20%"> $1,560 </td>
                        </table>
                      </td>
                      <td width="20%">Rehab Needed/Deferred Maint
                      </td>
                      <td width="20%"> $5,000
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th width="20%" style="width: 10px">&nbsp;</th>
                      <th width="10%">Balance
                      </th>
                      <th width="10%" style="width: 40px">Int Rate
                      </th>
                      <th width="10%" style="width: 40px">Term (Mos)</th>
                      <th width="10%" style="width: 40px">Balloon? Y/N
                      </th>
                      <th width="10%" style="width: 40px">Balloon (Mos)</th>
                      <th width="10%" style="width: 40px">&nbsp;</th>
                      <th width="10%" style="width: 40px">Payment</th>
                    </tr>
                    <tr>
                      <td>1st Mortgage </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td><span class="badge bg-red">55%</span></td>
                    </tr>
                    <tr>
                      <td>2nd Mortgage</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td><span class="badge bg-yellow">70%</span></td>
                    </tr>
                    <tr>
                      <td><strong>Total</strong></td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td align="right"><strong>Total</strong></td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td><strong>DCR</strong></td>
                      <td>2.97</td>
                      <td>&nbsp;</td>
                      <td colspan="2" align="right"><strong>Total Annual Debt Service</strong></td>
                      <td>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->


            <!-- /.box -->
          </div>
        </div>
        <!-- /.box -->

      </div>
      <!-- /.col (left) -->

      <!-- /.col (right) -->
    </div>
    <!-- /.row -->

  </section>
  <!-- /.content -->
</div>